<form>
  <div [hidden]="isError">Something went wrong please tey again !</div>
  <br />
    <mat-form-field>
      <input matInput placeholder="Full Name" [(ngModel)]="fullName" name="fullName" required>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput placeholder="Email" [(ngModel)]="email" name="email" required>
    </mat-form-field>
  
    <mat-form-field>
      <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
    </mat-form-field>
  
    <button mat-raised-button color="primary" (click)="register()">Register</button>
  </form>
  